.other-projects {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3rem;
}

.other-project {
  background-color: #112240;
  border-radius: 10px;
  position: relative;
  transition: 0.1s;
}

.other-project:hover {
  transform: translateY(-10px);
}

.other-project__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  z-index: 2;
}

.other-project__card > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-project .project__name {
  text-decoration: none;
}

.other-project .project__name::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.other-project:hover .project__name {
  color: var(--green);
}

.other-project .project__desc {
  background-color: transparent;
  color: #b2b7c7;
}

.other-project__card .project__links {
  z-index: 5;
}

.other-project > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  border-radius: inherit;
}

@media (max-width: 980px) {
  .other-projects {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 768px) {
  .other-projects {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .other-projects {
    grid-template-columns: repeat(2, auto);
  }

  .other-project .project__name {
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width: 575px) {
  .other-projects {
    grid-template-columns: repeat(1, auto);
  }

  .other-project {
    width: 300px;
    margin: 0 auto;
  }
}
