.education {
  width: 47rem;
  padding: 7rem 1rem 0 1rem;
  margin: 0 auto;
}

.education__list {
  display: flex;
  gap: 5rem;
  padding: 3rem 0;
  position: relative;
}

.education__items,
.item-details {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  position: relative;
  white-space: nowrap;
}

.education__item {
  padding: 1rem;
  cursor: pointer;
  border-left: 2px solid rgb(136, 146, 176, 0.3);
  font-family: var(--roboto);
  letter-spacing: -1px;
}

.education__item:hover {
  background-color: #112441;
  border-left: 2px solid var(--green);
  color: var(--green);
}

.education__item.active {
  border-left: 2px solid var(--green);
  color: var(--green);
}

.item-details > span {
  padding: 1rem 0;
}

.item-details > span:nth-child(1) {
  color: var(--secondaryColor);
}

@media (max-width: 768px) {
  .education {
    width: auto;
  }

  .education__list {
    flex-direction: column;
    gap: 1.5rem;
  }

  .education__items {
    flex-direction: row;
    font-size: 0.7rem;
  }

  .education__item {
    border-left: none;
    border-bottom: 2px solid rgb(136, 146, 176, 0.3);
  }

  .education__item.active,
  .education__item:hover {
    border-left: none;
    border-bottom: 2px solid var(--green);
  }
}

@media (max-width: 575px) {
  .education__items {
    overflow-x: scroll;
    max-width: 90vw;
  }

  .education__items::-webkit-scrollbar {
    height: 12px;
  }

  .education__items::-webkit-scrollbar-track {
    background-color: #112441;
    border-radius: 100vh;
  }

  .education__items::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border-radius: 100vh;
    border: 2px solid #112441;
  }
}
