.about {
  display: flex;
  gap: 2rem;
  margin: 10rem auto 0 auto;
  padding: 2rem;
}

.about__left {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  flex: 0.7;
}

.about__left > span:nth-child(1) {
  color: var(--green);
  letter-spacing: 0px;
  font-family: var(--roboto);
}

.about__left > span:nth-child(2) {
  color: var(--secondaryColor);
  font-size: 4rem;
  letter-spacing: -1px;
  font-weight: bold;
}

.about__left > span:nth-child(3) {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -3px;
}

.about__left > span:nth-child(4) {
  max-width: 30rem;
  line-height: 1.8rem;
}

.about__left > span:nth-last-child(1) > span {
  color: var(--green);
  font-family: var(--roboto);
  letter-spacing: -1px;
}

.about__right {
  flex: 0.3;
  display: flex;
  align-items: center;
}

.about__right > div {
  position: relative;
  width: 15.75rem;
  height: 23.25rem;
}

.face-image {
  background-image: linear-gradient(
      rgba(99, 238, 210, 0.5),
      rgba(99, 238, 210, 0.5)
    ),
    url(../../assets/images/dejan.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: -1.2rem;
  top: 1.2rem;
  z-index: 1;
}

.about__right > div > div:nth-child(2) {
  position: absolute;
  border: 2px solid var(--green);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.about__right > div:hover > div:nth-child(1) {
  background-image: linear-gradient(
      rgba(83, 236, 206, 0),
      rgba(83, 236, 206, 0)
    ),
    url(../../assets/images/dejan.jpg);
}

.about__right > div:hover > div:nth-child(2) {
  transform: translate(-0.3rem, 0.3rem);
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about__left > span:nth-child(2),
  .about__left > span:nth-child(3) {
    font-size: 3rem;
  }

  .about__right {
    justify-content: center;
    transform: translateX(1.2rem);
  }

  .about__right > div {
    width: 13.75rem;
    height: 20.25rem;
  }

  .about__right > div:hover > div:nth-child(2) {
    transform: translate(-0.15rem, 0.15rem);
  }
}

@media (max-width: 575px) {
  .navigation > span > a {
    font-size: 1.7rem;
  }

  .about {
    margin: 6rem auto 0 auto;
  }

  .about__left > span:nth-child(2),
  .about__left > span:nth-child(3) {
    font-size: 2rem;
  }

  .about__left > span:nth-child(4) {
    font-size: 14px;
  }

  .about__right > div {
    width: 10.75rem;
    height: 16.25rem;
  }

  .about__right > div:hover > div:nth-child(2) {
    transform: translate(-0.15rem, 0.15rem);
  }
}
