.navigation {
  background-color: var(--backgroundColor);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 1);
  position: absolute;
}

.navigation.fixed {
  position: fixed;
  z-index: 99;
  background-color: rgba(10, 25, 47, 0.9);
  padding: 0.5rem 2rem;
}

.navigation > .btn-logo,
.btn-menu {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.navigation > .btn-logo > a {
  font-size: 2rem;
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--montserrat);
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.7rem;
  font-family: var(--roboto);
  color: var(--secondaryColor);
  font-size: 14px;
}

.list > li > a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondaryColor);
}

.list > li:hover > a {
  color: var(--green);
}

.list > li:last-child > a {
  color: var(--secondaryColor);
}

.list > li > a::after {
  content: "";
  height: 1px;
  width: 0;
  background-color: var(--green);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.2s;
}

.list > li:hover > a::after {
  width: 100%;
}

.list > li:last-child:hover > a:after {
  width: 0;
}

.resume-link {
  background-color: transparent;
  color: var(--green);
  font-family: var(--roboto);
  border: 1px solid var(--green);
  border-radius: 5px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.resume-link:hover {
  background-color: #12294b;
}

nav > .btn-menu > i {
  font-size: 22px;
  cursor: pointer;
  color: var(--primaryColor);
}

@media (max-width: 768px) {
  .list {
    position: absolute;
    right: 2rem;
    top: 4rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    z-index: 99;
  }
}

@media (max-width: 575px) {
  .list {
    gap: 0.5rem;
  }

  .list a {
    font-size: 12px;
  }

  .resume-link {
    padding: 0.2rem 0.3rem;
    font-size: 12px;
    position: absolute;
    right: 4rem;
  }
}
